header.avatar-name {
  height: 400px;
  width: 100%;
  background-color: #001436;
  background-image: url("https://www.transparenttextures.com/patterns/ice-age.png");
  margin-top: 120px;
}

.avatar, .name{
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  margin: 0 auto 0 auto;
  width: 90%;
  background-color: #f4f1ec;
 
}

@media only screen and (min-width: 1024px) {
  header.avatar-name {
  width: 50%;
  float:left;
  margin-top: 250px;
  }

  .avatar{
    height: 70%;
  }
}
