header.avatar-name {
  height: 420px;
  width: 100%;
  background-color: #001436;
  margin-top: 120px;
}
.avatar-background {
  padding: 20px;
  border: solid #f4f1ec;
  border-width: 20px;
  background-position: center;
}
.avatar{
  height: 60%;
  padding-top: 20px;
}
.avatar, .name{
  display: flex;
  justify-content: center;
  
}

main{
  margin: 0 auto 0 auto;
  width: 90%;
  background-color: #f4f1ec;
 
}

@media only screen and (min-width: 1024px) {
  header.avatar-name {
  width: 50%;
  float:left;
  margin-top: 250px;
  }

  .avatar {
    height: 60%;
    padding-top: 20px;
  }
}
