nav {
  font-family: 'Bungee', cursive;
  background-color: #4056A1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 0.5em;
  color: #FFFF;
  height: 120px;
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
}

.title{
  padding: 0px;
  font-size: 40px;
}

.titleText{
  font-family: sans-serif;
  font-size: 20px;
  
}