nav {
  font-family: "Bungee", cursive;
  background-color: #050505ff;
  background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre-v2.png");
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 0.5em;
  color: #ffff;
  height: 120px;
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
}

.title {
  padding: 0px;
  font-size: 40px;
}

.titleText {
  font-family: sans-serif;
  font-size: 20px;
}

@media only screen and (min-width: 1024px) {
  nav {
    background-color: #050505ff;
    background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre-v2.png");
  }
}
